{% extends "layout.njk"%}

{% block content %}
  
  <section class="container form">
    <form method="post" action="/products">
      <div class="header">
        <p>Cadastrar Produto</p>
      </div>
      <div class="fields">
        {% include 'products/fields.njk'%}
      </div>

      <button type="submit">Salvar</button>
    </form>
  </section>

{% endblock %}