<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>LaunchStore</title>
  </head>

  <body>
    <div class="menu">
      <div class="menu_links">

        {%include "parts/header.njk"%}
     
      </div>
    </div>

    {% block content %}{% endblock %}

        {%include "parts/footer.njk"%}

        <script src="/scripts.js"></script>
  </body>
</html>